#root {
    height: auto;
}

html,
body {
    height: 100%;
    background-color: rgb(0, 97, 154);
}

.search {
    display: flex;
    width: 30%;
    justify-content: center;
    overflow: hidden;
}

.search>input {
    width: 90%;
    border-radius: 5px;
}